body {
    background-image: url("../images/folk-pattern.png");
}
h1 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}
.header {
    background-color: #ffffff;
    width: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    clear: both; 
    border-bottom: #cccccc 2px solid;
}
.center {
    margin: 0 auto;
    width: 960px;
}
.name {
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    float: left;
}

.links {
    float: right;
    margin-top: 30px; 
}
ul {
    list-style: none;
}
li {
    float: left;
    margin-left: 22px;
}
.main-body {
    background-color: #ffffff;
    margin: 200px auto;
    width: 960px;
    clear: both;
    position: relative;
    border: #dddddd 1px solid;
    overflow: hidden;
}
.second-title {
    color: #4aaaa5;
    border-bottom: #cccccc 3px solid;
    margin: 15px;
}
.txt {
    margin: 15px;
    line-height: 1.5;
}
a, p, form{
    text-decoration: none;
    color: #777777;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #666666;
    border-top: #4aaaa5 solid 10px;
    height: 6%;
}
.copyright {
    text-align: center;
    color: #ffffff;
    position: absolute;
    bottom: 5%;
    width: 100%
}
#img1 {
    width: 300px;
    float: left;
    margin: 15px;
    height: 250px;
}
#img2 {
    width: 300px;
    float: left;
    margin: 15px;
    height: 250px
}
.img {
    position: relative;
    text-align: center;
    float: left;
    margin: 15px;
}
.overlay {
    position: absolute; 
    bottom: 10px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 12px 0px;
    width: 300px;
}
.img1 {
    position: relative;
    text-align: center;
    float: left;
}
.row {
    clear: both;
}

.form {
    margin: 15px;
    line-height: 1.5;
}
input, textarea {
    width: 905px;
    padding: 10px;
}
#submit {
    width: auto;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 18px;
    border: none;
}
textarea {
    font-family: Arial, Helvetica, sans-serif;
}
.image-class {
    height: 200px;
    width: 300px;

}
@media only screen and (max-width: 980px) {
    .main-body {
        width: 740px;
        float: left;
        margin-left: 7.5%;
    }
    .center{
        width: 85%;
        float: left;
        margin-left: 7.5%;
    }
  }
  @media only screen and (max-width: 768px) {
    .main-body {
        width: 92%;
        margin-left: 4%;
    }
    .name {
        padding: 15px;
    }
    .center{
        width: 92%;
        margin-left: 4%;
  }
  .image-class {
      width: 40%;
      height: auto !important;

  }
  .overlay {
    position: absolute;
    bottom: 10px;
    left: 5%;
    width: 40%;
    padding: none !important;
    text-align: center;
}
}
@media only screen and (max-width: 640px) {
    .name {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        text-align: center;
    }
    .links {
        width: 100%;
        text-align: center;
        float: none;
        padding-top: 100px;
        padding-bottom: 50px;
        background-color: white;
    }
    li {
        float: center;
    }
    .center {
        width: 100%;
    }
    .image-class {
        width: 90%;
        height: auto !important;
    }
    .overlay {
        position: absolute;
        bottom: 10px;
        left: 5%;
        width: 90%;
        padding: none !important;
        text-align: center;
    }
    .header {
        position: static;
        overflow-x: hidden;
        
    }
    
} 